.about-div {
  background-color: #97d7e3;
  height: auto;
  border-radius: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.about-div h1 {
  font-size: 4.75em;
  color: rgb(23, 54, 71);
  font-weight: 700;
  border-bottom: 1px solid #d9d3d3;
  padding: .25em;
}

.about-sun {
  height: 1.75em;
  padding: 0 7px 0 7px;
}

.about-tagline {
  color: rgb(23, 54, 71);
  font-size: 1.5em;
  padding-bottom: 1em;
}

.arrow-down {
  padding: 0.85em 0.5em 0.15em 0.5em;
  height: 4.25em;
  border-radius: 50%;
  margin-top: 3.65em;
  background-color: rgb(47, 127, 149);
}

.about-left {
  background-color: rgb(249, 247, 236);
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-right .inner-div, .about-left .inner-div {
  width: 80%;
}

.about-left h3 {
  color: rgb(47, 127, 149);
  text-transform: uppercase;
  font-size: 2.35em;
  font-weight: 700;
}

.about-right p, .about-left p {
  font-size: 1.15em;
  font-weight: 200;
}

.about-right p {
  color:rgb(249, 247, 236);
}

.about-leftt p {
  color:rgb(51, 51, 51);
}

.about-right {
  background-color: rgb(23, 54, 71);
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 90%;
  margin-top: 1em;
}

.about-grid {
  margin-top: 2em;
  margin-bottom: 2em;
}

.about-grid p {
  font-size: 1.25em;
}

.about-grid h2 {
  color: rgb(47, 127, 149);
  font-size: 1.75em;
  text-transform: uppercase;
}

.about-grid h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 5.5em;
  color: rgb(23, 54, 71);
}

.about-right-heading {
  color: rgb(47, 127, 149);
}

.about-right-heading h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 4.5em;
}

.about-right-heading h2 {
  font-size: 1.5em;
}

.linkedLogo, .gitLogo {
  height: 18px;
  margin-bottom: 0.3em;
}

.linkedLogo {
  margin-left: 1em;
  margin-right: 1.25em;
}

.footer img {
  padding-bottom: 0.5em;
}

.about-right p.smaller-text {
  font-size: 15px;
  /*color: rgb(47, 127, 149);*/
}


/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about-div h1 {
    font-size: 3em;
  }

  .about-left, .about-right {
    height: auto;
  }
}

/* iPhone 5 */
@media only screen and (min-width: 320px) and (max-width: 349px) {
  .about-div h1 {
    font-size: 3em;
  }

  .about-left, .about-right {
    height: auto;
  }
}
