.graph_side {
  background-color: rgb(47, 127, 149);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.graph_side h1  {
  margin-bottom: 2em;
  font-weight: 800;
  font-size: 2em;
}

.user_info_side {
  background-color: #82b2bf;
  height: 100%;
}

.user_info_side hr {
  margin-top: 0px;
  width: 85%
}
.user_info_side h1 {
  padding-top: .5em;
  text-transform: uppercase;
  margin: 1em;
}


.user_content p {
  font-size: 1.25em;
  margin: 1em 0 1em 2.5em;
}
.user_info_content p {
  margin: 0;
}
.most-recent-heading {
  text-transform: uppercase;
  font-size: 2em;
}

.user_info_side h5 {
  margin-top: 4em;
  font-size: 1.2em
}

.most-recent-score {
  font-size: 9em;
  margin-top: 0;
}

.user_info_side span {
  font-weight: 700;
}

.sms button, .sms button:hover, .sms button:active, .sms .btn-default:hover, .sms .btn-default:active  {
  align-item: left;
  border-radius: 1px;
  border: none;
  background-color: rgb(58, 138, 158);
  color: rgb(232, 232, 232);
  font-size: 1.25em;
  text-transform: uppercase;
  margin-top: 3em;
}

.error_message, .success_message {
  font-weight: 200;
  margin-top: 1.5em;
  font-size: 1.25em;
}

.error_message {
  color: rgb(191, 0, 0);
}

.success_message {
  color: rgb(51, 51, 51);
}
