* {
  font-family: 'Raleway', sans-serif;
}

.welcome {
  background-color: #F9EDDB;
  border-bottom: 0px;
}

.welcome-sun {
  height: 2.5em;
}

.welcome h2 {
  margin: 0px;
}
.alternatives {
  /*background-color: #90A9B7;*/
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alt-list-text {
  list-style: none;
  /*text-transform: uppercase;*/
  line-height: 2em;
  font-size: 2em;
}
