* {
  font-family: 'Raleway', sans-serif;
}

.welcome {
  margin-left: -5em;
  background-color: rgb(237, 237, 237);
  border-bottom: 0px;
}

.welcome-sun {
  height: 2.5em;
}

.welcome h2 {
  text-align: left;
  margin: 0px;
}

.alternatives {
  /*background-color: #90A9B7;*/
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alt-list-text {
  list-style: none;
  /*text-transform: uppercase;*/
  line-height: 2em;
  font-size: 2em;
}

.footer {
  background-color: rgb(23, 54, 71);
  color: rgb(235, 238, 238);
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
