* {
  font-family: 'Raleway', sans-serif;
}

.welcome {
  background-color: rgb(237, 237, 237);
  border-bottom: 0px;
  margin: 0px;
  height: auto;
  border: 1px solid darkgrey;
  padding: 3px 0 3px 0;
}

.welcome-sun {
  height: 1.75em;
}

.welcome_name {
  margin-top: 1.5em;
  text-align: right;
  font-size: 1.1em;
}

.welcome-user {
  height: 1.25em;
}

.welcome h2 {
  text-align: left;
  margin-top: 10px;
}

.home_row {
  /*margin-top: -1.25em;*/
}
.home-user-grid {
  height: auto;
}

.alternatives {
  background-color: rgba(255, 255, 255, .6);
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  margin: 14em 0em 14em 0em
}

.alternatives input {
  margin-top: 25px;
}

.alt-form {
  display: inline-block;
}
.home-right {
  background-image: url('./images/splash.jpg');
  height: 746px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
}

.alternatives button, .alternatives button:hover, .alternatives button:active, .alternatives .btn-default:hover, .alternatives .btn-default:active  {
  margin-left: 10px;
  border-radius: 1px;
  border: none;
  background-color: rgb(58, 138, 158);
  color: rgb(232, 232, 232);
  font-size: .5em;
  height: 30px;
  width: 30px;
  padding: 0px;
}

.home-right h1 {
  font-weight: 700;
  color: #33A7BE;
}

.home-left {
  background-color: #fcf1a7;
  height:746px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(23, 54, 71);
  padding-right: 0px;
  padding-left: 0px;
}

.home-left h1 {
  font-weight: 700;
  font-size:4em;
  margin-bottom: 0px;
  padding-top: 1em;
}

.home-left h3 {
  font-family: 'Sacramento', sans-serif;
  margin-top: 7px;
  font-size: 2.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.alt-heading {
 margin-left: 2em;
 padding-bottom: 1em;
}

.home-left p {
  margin-left: 3.5em;
  margin-right: 1.5em;
  font-size: 1.2em;
}

.alt-content-heading {
  font-weight: 800;
}

.check-in-heading {
  font-size: .65em;
  font-weight: 200;
}
.check-in-light {
  font-weight: 200;
}
.alt-list-text {
  list-style: none;
  font-size: 1.5em;
  padding: 0px;
}
.take-survey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.take-survey button, .take-survey button:hover, .take-survey button:active, .take-survey .btn-default:hover, .take-survey .btn-default:active  {
  align-item: left;
  border-radius: 1px;
  border: none;
  background-color: rgb(23, 54, 71);
  color: rgb(232, 232, 232);
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-top: 1em;
}
.take-survey h2 {
  margin: 0px;
}
.take-survey {
  margin: 2em 0em 2em 0em;
  padding: 2em 2em 1em 2em;
  background-color: rgba(255, 255, 255, .1);
  height: 100%;
  width: 55%;
}
.footer {
  background-color: rgb(23, 54, 71);
  color: rgb(235, 238, 238);
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
