.form_side {
  height: 100%;
  background-color: rgb(58, 138, 158);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_side form {
  width: 80%;
}

.form_side textarea {
  height: 240px
}

.form_side h3 {
  font-family: 'Sacramento', sans-serif;
  font-size: 4.5em;
  padding-bottom: .5em;
  color: rgb(23, 54, 71);
}

.form_side button, .form_side button:hover, .form_side button:active, .form_side .btn-default:hover, .form_side .btn-default:active  {
  align-item: left;
  border-radius: 1px;
  border: none;
  background-color: rgb(23, 54, 71);
  color: rgb(232, 232, 232);
  font-size: 1.25em;
  text-transform: uppercase;
}

.entries_side {
  height: 100%;
  background-color: rgb(23, 54, 71);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.entries_side h1 {
  color: rgb(58, 138, 158);
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid rgb(58, 138, 158);
  font-size: 3.25em;
  padding: 0em 2em 0.25em 2em;
  margin-top: -0.5em;
}

.entries_side h2, .entries_side h4 {
  display: inline-block;
}

.entries_side h4{
  margin-left: 2em;
}

.entries_side .description {
  width: 75%;
  color: rgb(58, 138, 158);
  font-size: 1.25em;
  padding-bottom: 1.5em;
}

.description span {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.25em;
}

.outer_journal_div {
  height: 300px;
  width: 85%;
  background-color: rgba(255, 255, 255, 1);
  overflow: scroll;
}

.entry_div {
  padding: 1em;
}

.entry_div h2 {
  margin-top: 0;
}

.sentiment-p {
  border-top: 1px solid rgb(23, 54, 71);
  font-size: 1.35em;
  text-transform: uppercase;
  color: rgb(43, 102, 117);
  font-weight: 500;
  padding-top: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .row_height .form_side {
    height: 100%
  }
  .row_height .entries_side {
    height: auto;
    padding: 5em 0em 5em 0em;
    overflow: scroll;
  }
}
