.splash {
  height: 750px;
  background-image: url('./splash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-content {
  height: auto;
  padding: 50px 150px 50px 150px;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splash-heading {
  font-size: 72px;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

.splash-tagline {
  padding-bottom: 25px;
}

.login {
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
}

.login .error {
  color: red;
}

.grid-form-left {
  padding: 0px 5px 0px 0px;
}

.grid-form-right {
  padding: 0px 0px 0px 5px;
}
