.Side-nav {
  display: inline;
}

.sidenav_openbtn {
  margin: 1em;
}

.sidenav_openbtn span {
  font-size: 1.5em;
}

.sidenav_link {
  margin-left: 1.2em;
  color: #000;
}


.Sidebar-demo {
  padding: 15px;
}

.Sidebar.modal.fade .modal-dialog {
  transition: none;
}

.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}

.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}

.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}

.Sidebar.modal {
  max-width: 100%;
  /*box-shadow: 2px 0 2px #b9b8b8;*/
  background-color: #f5f5f5;
}

.modal-logo {
  height: 10rem;
  opacity: 0.7;
}

.Modal-title {
  font-size: 34px;
  color: #000;
  font-weight: normal;
}

.new-entry-button {
  margin-right: 1rem;
}

.Sidebar.modal.left {
  right: auto;
}

.Sidebar.modal.right {
  left: auto;
}

.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}

.Sidebar.modal .modal-logo {
  opacity: 0.7;
}

.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.Sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}

.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 320px;
}

.sideNavBtn {
  margin-top: -6rem;
  margin-right: 3rem;
  font-size: 20px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.bottomHR {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 800px;
}
