.sidenav_openbtn {
  margin: 1.2em;
  color: rgb(26, 62, 80);
  margin-top: 1em;
}

.sidenav_openbtn span {
  font-size: 1.5em;
}

.sidenav_link {
  margin-left: 1.2em;
  color: rgb(26, 62, 80);
  font-size: 1.25em;
}

.Sidebar-demo {
  padding: 15px;
}

.Sidebar.modal.fade .modal-dialog {
  transition: none;
}

.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}

.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}

.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}

.Sidebar.modal {
  max-width: 100%;
  background-color: rgb(240, 240, 240);
}

.Sidebar.modal.left {
  right: auto;
}

.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}

.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}

.modal-logo {
  height: 10rem;
  opacity: 0.7;
}

.sidebar_title {
  font-size: 2.75em;
  color: rgb(26, 62, 80);
  font-weight: 800;
}

.sidebar_sun_logo {
  height: 1.4em;
}

.new-entry-button {
  margin-right: 1rem;
}

.Sidebar.modal.left {
  right: auto;
}

.Sidebar.modal.right {
  left: auto;
}

.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}

.Sidebar.modal .modal-logo {
  opacity: 0.7;
}

.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.Sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}

.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 320px;
}

.hidden {
  display: none;
}

.Sidebar {
  width: 350px;
}

.Sidebar hr {
  border-color: rgb(58, 138, 158);
}

.modal-header {
  border-bottom: 1px solid rgb(58, 138, 158);
  margin-bottom: 18px;
  padding-bottom: 0px;
}

.survey-side {
  box-shadow: none;
  margin-bottom: 0px;
  border: none;
  background-color: rgb(58, 138, 158);;
  margin-top: -20px;
  border-radius: 0px;
}

.survey-side h3 {
  color: white;
  font-weight: 700;
}

.crisis_div, .clinician_div {
  width: 100%;
  border-radius: 0px;
  border: 0px;
}

.crisis_div {
  background-color: rgb(26, 62, 80);
}

.crisis_div h3, .clinician_div h3 {
  color: rgb(58, 138, 158);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
}

.crisis_div p, .clinician_div p {
  color: white;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 7px 5px 7px 5px;
}

.crisis_div .bold_header, .clinician_div .bold_header {
  color: ;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.clinician_div {
  /*position: absolute;
  bottom: 0;
  left: 0;*/
  margin-top: 11.5em;
  margin-bottom: 0;
  background-color: rgb(26, 62, 80);
}

.phone_logo {
  height: 18px;
}

.waves_image {
  width: 100%;
  height: 298px;
  border-top: 1px solid rgb(58, 138, 158);
  margin-top: -1.5em;
  align-items: center;
}

.patient_list_ul ul, .patient_list_ul li {
  margin-left: 0;
  padding-left: 0;
}

.modal_h3 {
  color: rgb(58, 138, 158);
  margin-left: 20px;
}
